@import "@/styles/extends.less";

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .login_wapper:extend(.center_box) {
    .center_container {
      display: flex;
      align-items: center;
      min-height: 420px;
      .left_container {
        text-align: center;
        width: 354px;
        margin-right: 72px;
        max-height: 420px;

        .title {
          font-size: 22px;
          font-weight: 500;
          padding-top: 43px;
        }

        .sub_title {
          font-size: 12px;
          color: #777;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .login_bottom {
    height: 30px;
    width: 100%;
    background-color: #438be5;
  }

  .top_bar {
    @vCenterBox();
    max-height: 42px;
    min-height: 42px;
    background-color: #438be5;
    -webkit-app-region: drag;
  }
}

.login_from {
  position: relative;
  width: 325px;

  .form_title {
    font-size: 16px;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 24px;

    .sub_title {
      font-size: 12px;
      color: @activeColor;
    }
  }

  .access_bottom {
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 13px;
      color: #428be5;
      cursor: pointer;
    }
  }

  .primary {
    color: @activeColor;
    cursor: pointer;
  }
  .el-button--primary {
    width: 100%;
    border-radius: 4px;
  }
}

.el-aside {
  border-right: 1px solid #eee;
}

.el-user-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  .user-list-one{
    display: flex;
    align-items: center;
    width: 95%;
    min-height: 60px;
    border-radius: 8px;
    padding-left: 15px;

    &:hover{
      background: #f3f8fe;
    }
  }
}