@font-face {
  font-family: "iconfont"; /* Project id 4126866 */
  src: url('iconfont.woff2?t=1686968340461') format('woff2'),
       url('iconfont.woff?t=1686968340461') format('woff'),
       url('iconfont.ttf?t=1686968340461') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiahaoyou:before {
  content: "\e7aa";
}

.icon-biaoqing:before {
  content: "\e600";
}

